body {
  background-color: rgb(200, 200, 200);
}

.page-indent {
   
      justify-content:center;
      align-items:center;
      text-align:center;
      padding:20px;
    
}

.contact-title {
    margin-top: 5rem;
    font-size: 2rem;
    color: black;
}

.contact-pre-form {
    font-size: 1rem;
    color: black;
}


.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
font-size: 1.5rem;
font-weight: 500;
margin-bottom: 0.25rem;
color: black;
}

.form-input{
      border: 1px solid gray;
      border-radius: 0.5rem;
      padding: 0.5rem 0.5rem;
      font-size: 1rem;
}

.contact-msg {
      font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-input-msg{
    height: 3rem;  
    border: 3.5px solid gray;
      border-radius: 0.5rem;
      padding: 0.5rem 0.5rem;
      font-size: 1rem;
}

.form-textarea {
  min-height: 140px;
  resize: vertical;
  margin-bottom: 1.5rem;
}

.form-button {
  background: black;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.2s;
}

.contact-form {
  background: rgb(225, 220, 220);
  border: 1px solid #e7e5e4;
  border-radius: 10px;
  padding: 25px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-button {
  background: #292524;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.2s;
}

.form-button:hover {
  background: black;
}

.success-message {
  display: none;
  color: green;
  font-weight: bold;
}

.success-message.show {
  display: block;
}

  /* NAVBAR */

  * {
  box-sizing: border-box;
}

nav{
      width:100%;
      padding:20px 8%;
      display:flex;
      justify-content:space-between;
      align-items:center;
      position:fixed;
      top:0;
      left:0;
      background:rgba(0,0,0,0.4);
      backdrop-filter:blur(10px);
      z-index:1000;
    }

    .logo{
      font-size:28px;
      font-weight:bold;
      color:#d8c3a5;
      letter-spacing:2px;
    }

    .nav-links{
      display:flex;
      gap:35px;
    }

    .nav-links a{
      text-decoration:none;
      color:white;
      transition:0.3s;
      font-size:16px;
    }

    .nav-links a:hover{
      color:#8ba888;
    }

    .pre-catalog-text {
  color: black;
  margin-bottom: 40px;
    }